html{
    background-color: orange;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}
body{
    margin: 0px;
}

.desktop{
    display: none;
}

#mobil{
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
}
header p{
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
header img{
    width: 55px;
}

#button{
    width: 40px;
}

#hero{
    color: white;
    text-align: center;
    background-image: url('background.avif');
    align-content: center;
    font-weight: 100;
    padding: 25px;
}

#hero button{
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: orange;
    color: white;
    padding: 10px 40px;
}

#hero h1{
    margin-top: 150px;
}

section{
    padding-left: 20px;
    padding-right: 20px;
}

#regulament{
    margin-top: 75px;
    margin-bottom: 75px;
}

h2{
    text-align: center;
    font-size: 20px;
}
hr {

    border: 1px solid white;
    margin-left: 25%;
    margin-right: 25%;
    
    margin-bottom: 30px;
}
#calendar{
    font-size: smaller;
    margin-bottom: 100px;
}

.calendar{
    display: flex;
    height: 30px;
    align-items:baseline;
    gap: 5px;
}


footer{
    background-color: black;
    color: green;
    text-align: center;
    padding: 5px;
    font-size: 13px;
}

footer img{
    width: 200px;
    
}

@media (min-width: 1024px) {
    .desktop{
        display: block;
    }
    header{
        height: 90px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        background-color: orange;
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 150px;
        padding-right: 150px;
        box-sizing: border-box;
    }
    #mobil{
        padding: 0;
        font-size: 20px;
    }

    header nav a{
        padding: 10px;
    }

    #desktop{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    #Facebook{
        width: 35px;
        padding-left: 70px;
    }
    
    #button{
        display: none;
    }

    #hero{
        height: 100vh;
        text-align: left;
        padding-left: 150px;
    }

    #hero p{
        width: 30%;
    }
    #hero h1{
        margin-top: 0px;
        font-size: 60px;
    }

    section{
        padding-left: 150px;
        padding-right: 150px;
    }

    #regulament{
        width:calc(50vw - 150px);
    }

    #regulament h2{
        text-align: left;
    }

    .calendar{
        justify-content: center;
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer p{
        margin-left: 100px;
    }
    footer img{
        margin-right: 100px;
    }
}

